@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';


.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.logo{
    padding-left: 60px;
    position: relative;
    @extend %DMSans-500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #436372;
}

.logo::before{
    content: url('');
    background-image: url("../images/logo.png");
    width: 50px;
    height: 38px;
    position: absolute;
    left: 0;
}

.nav{
    display: block;
    &_list{
        display: flex;
    }
    &_list-item + .nav_list-item{
        margin-left: 35px;
    }
    &_list-link{
        text-decoration: none;
        font-size: 15px;
        line-height: 12px;
        @extend %Rubik-500;
        color: #436372;
        font-weight: bold;
    }
}

.user_nav{
    display: flex;
    align-items: center;

    &-link{
        position: relative;
    }
    &-span{
        position: absolute;
        top: 10px;
        left: 60px;
        width: 15px;
        height: 15px;
        font-size: 14px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        color: #929ba1;
        @extend %DMSans-500;
    }
    &-img{
        padding: 20px;
    }
    &-img--search{
        background-color: #edf1f4;
        border-radius: 50%;
        margin-right: 30px;
    }
    &-img--liked{
        background-color: #fcd7b6;
        padding: 20px 40px;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        border-right: 1px solid #fff
    }
    &-img--cart{
        background-color: #fcd7b6;
        padding: 20px 40px;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 40%;
        border-left: 1px solid #fff
    }
    &-img--menu{
        background-color: #a3bbc8;
        border-radius: 50%;
        margin-left: 30px;
    }
}

.container-min{
    width: 1170px;
    margin: 0 auto;
}

.logo_connection{
    margin-bottom: 30px;
}

.footer-top{
    display: flex;
    border-bottom: 1px solid #dae4e9;
    color: #7b7b7b;
    padding-top: 80px;
    padding-bottom: 70px;

    &_connection{
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-right: 100px;
    }
    
    &_connection-link{
        font-size: 14px;
        line-height: 22px;
        margin-top: 20px;
        @extend %Rubik-400;
        color: #7b7b7b;
    }
    &_social{
        margin-top: 15px;
        width: 140px;
        margin-right: 180px;
    }
    &_social-title{
        font-size: 16px;
        line-height: 21px;
        @extend %DMSans-700;
        color: #000; 
        margin-bottom: 20px;  
    }
    &_social-item{
        font-size: 14px;
        line-height: 32px;
        @extend %Rubik-400;
    }
    &_sub-title{
        padding-top: 15px;
    }
    &_sub-text{
        font-size: 14px;
        line-height: 24px; 
        @extend %Rubik-400;
    }

    .sub-form_input{
        padding: 13px 15px 15px;
        background-color: #fef7f0;
        border: none;
        margin-top: 35px;
    }
    .sub-form_input::placeholder{
       color: #a3bbc8; 
    }
    .sub-form{
        display: flex;
    }
    .sub-form button{
        padding: 13px 15px 15px;
        border: none;
        height: 45px;
        margin-top: 35px;
        background-color: #a3bbc8;
        color: #fff;    
        cursor: pointer;
    }
    
}

.footer-bottom{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    &_social-list{
        display: flex;
    }
    &_social-item{
        padding: 0 15px;
    }
    &_social-item + .footer-bottom_social-item{
        border-left: 1px solid #7b7b7b;
    }
    &_copy,
    &_social-item{
        font-size: 14px;
        line-height: 32px;
        @extend %Rubik-400;
        color: #7b7b7b;
    }
}

.main{
    flex-grow: 1;
}

.breadcrumbs{
    margin-top: 45px;
    height: 145px;
    background-color: #edf1f4;
    width: 100%;
    &-wrap{
        width: 100%;

    }
    &-title{
        padding-top: 30px;
    }
    &-items{
        display: flex;
        align-items: center;
    }
    &-item{
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 24px;
        @extend %Rubik-400;
        padding: 10px;
        color: #787e85;
        position: relative;
        &::after{
            content:'/';
            position: absolute;
            right: -3px;
            font-size: 25px;
            &:last-child{
                display: none;
            }
        }
    }
}
.list-wrap{
    margin: 0 auto;
    width: 120px;
}



.slider-section{
    background-color: #fcd7b6;
    margin-top: 45px;
}

.slider-inner{

    margin-left: 300px;

    &_item{
        display: flex !important;
        margin-bottom: 200px;   
    }
    &_title{
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        @extend %Rubik-500;
        margin-bottom: 40px;
        letter-spacing: 0;
        width: 430px;
        margin-right: 120px;
    }
    &_desc{
        font-size: 18px;
        line-height: 30px;
        color: #243f4d;
        @extend %Rubik-400;
        margin-bottom: 40px;
        width: 350px;
    }
    &_btn{
        padding: 25px 100px 25px 25px;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 15px;
        line-height: 12px;
        @extend %Rubik-500;
        margin-bottom: 200px;
        position: relative;
    }
    &_btn::after{
        content: '';
        background-image:url('../images/arrow.png');
        background-repeat: no-repeat;
        width: 25px;
        height: 10px;
        position: absolute;
        left: 130px;
        top: 27px;
    }
}
.slick-dots{
    display: flex;
    justify-content: center;
}

.slick-slide{
    margin-top: 225px;
}

.slick-dots button{
    border: none;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    font-size: 10px;
    line-height: 8px;
    @extend %Rubik-500;
    color: #243f4d;
    margin-left: 20px;
}

li.slick-active button{
    background-color: #fff;
    opacity: 1;
}

.products{
    margin-bottom: 185px;
}

.products-top{
    display: flex;
    justify-content: center;
    &_item{
        padding: 50px 150px 50px 220px;
        background-color: #fef7f0;
        position: relative;
        z-index: 1;
        &:first-child{
            border-right: 1px solid #e8e4df;
        }
        &:last-child{
            border-left: 1px solid #e8e4df;
        }
    }
    &_item:before{
        content: '';
        position: absolute;
        background-image: url("../images/products-img1.png");
        width: 50px;
        height: 50px;
        z-index: 100;
        left: 160px;
    }
    &_item--before:before{
        content: '';
        position: absolute;
        background-image: url("../images/products-img2.png");
        width: 60px;
        background-repeat: no-repeat;
        height: 40px;
        z-index: 100;
        left: 150px;
    }
    &_item--before2:before{
        content: '';
        position: absolute;
        background-image: url("../images/products-img3.png");
        width: 60px;
        background-repeat: no-repeat;
        height: 60px;
        z-index: 100;
        left: 150px;
    }
    &_item-title{
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 40px;
        @extend %DMSans-700;
    }
    &_item-text{
        font-size: 16px;
        line-height: 30px;
        @extend %DMSans-500;
    }
}

.filter{
    margin-top: 75px;
   
    &-item{
        text-align: center;
    }
    &-title{
        font-size: 36px;
        @extend %DMSans-700;
        text-align: center;
    }
    &-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
        margin-top: 80px;
    }
    &-item_pic{
        margin-bottom: 70px; 
        margin: 0 auto 70px; 
    }
    &-item_desc{
        font-size: 16px;
        line-height: 40px;
        @extend %DMSans-700;
        color: #243f4d;
        margin-bottom: 0;
    }
    &-item_cin{
        font-size: 16px;
        line-height: 40px;
        @extend %DMSans-700;
        color: #a3bbc8;
        margin-bottom: 0;
    }
}
.filter-buttons{
    width: 100%;
    margin-top: 50px;
    &_wrap{
        width: 320px;
        margin: 0 auto;
    }
    &_ul{
        display: flex;
    }
    &_ul-li{
        font-size: 16px;
        @extend %DMSans-700;
    }
    &_ul-btn{
        background-color: inherit;
        color: #8b8b8b;
        border: none;
    }
}

.profile-main{
    display: flex;
    justify-content: space-between;

    &_item{
        height: 390px;
        width: 875px;
        background-color: #feefe2;
    }
    &_item-title{
        margin-left: 390px;
        margin-top: 100px;
        margin-bottom: 30px;
        position: relative;
        font-size: 26px;
        line-height: 32px;
        @extend %DMSans-700;
        color: #243f4d;        

        &:before{
            content: '';
            background-image: url('../images/profile-left.png');
            height: 405px;
            width: 230px;
            position: absolute;
            left: -270px;
            top: -150px;
        }
        &2:before{
            content: '';
            background-image: url('../images/profile-right.png');
            height: 405px;
            width: 145px;
            position: absolute;
            left: -270px;
            top: -150px;
        }
    }
    &_item-text{
        margin-left: 390px;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 30px;
        @extend %Rubik-400;
        color: #243f4d;
    }
    &_item-link{
        margin-left: 390px;
        font-size: 15px;
        line-height: 12px;
        @extend %Rubik-500;
        color: #436372;
        border: 1px solid #b3b7b5;
        padding: 20px 85px 25px 18px;
        border-radius: 6%;
        position: relative;
        &::after{
            content: '';
            background-image: url('../images/arrow.png') ;
            position: absolute;
            height: 10px;
            width: 23px;
            background-repeat: no-repeat;
            left: 130px;
            top: 25px;
        }
    }
}
.secondFilter-items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
}
.secondFilter-item{
    background-color: #f8f8f8;
    width: 370px;
    height: 245px;
    overflow-x: hidden;
    &-title{
        font-size: 20px;
        @extend %DMSans-700;
        padding: 42px 0 25px 35px;
    }
    &-span{
        font-size: 16px;
        @extend %DMSans-700;
        color: #a3bbc8;
        padding-left: 35px;
    }
    &_wrap{
        display: flex;
    }
    &_pic{
        margin-left: 10px;
        &--margin{
            margin-top: -50px;
            margin-left: 120px;
        }
        &--margin2{
            margin-top: -30px;
        }
    }
}

.video{
    background-image: url('../images/video_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 100%;
    margin-top: 120px;
    &-link{
        margin: 0 auto;
        padding-top: 187px;
    }
}

.blog{
    margin-top: 120px;
    position: relative;
    margin-bottom: 250px;
    &-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &-top_title{
        font-size: 36px;
        @extend %DMSans-700;
    }
    &-top_subtitle{
        font-size: 16px;
        @extend %DMSans-700;
        padding-right: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-repeat: no-repeat;
            background-image: url('../images/blog/blog-arrow.png');
            right: 5px;
            top: 3px;
        }
    }
}

.blog-main{
    display: flex;
    justify-content: space-between;
    &_item{
        background-color: #ffffff;
        border: 1px solid #b3b7b5;
        &:hover{
            border: none;
        }
    }
    &_item-link{
        position: relative;
        background-color: #fff;
        &::after{
            content: '';
            background-repeat: no-repeat;
            position: absolute;
            width: 103px;
            height: 30px;
            background-image: url('../images/blog/after.png');
            z-index: 30;
            top: 235px;    
            left: 30px;
        }
    }
    &_item-text{
        padding: 25px 45px 15px 15px;
        font-size: 17px;
        width: 330px;
        @extend %DMSans-500;
        margin: 0 auto;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 20px;
        line-height: 15px;
    }
    &_item-wrap{
      display: flex;
    }
    &_item-sub{
        font-size: 12px;
        line-height: 30px;
        @extend %Rubik-400;
        text-transform: uppercase;
        position: relative;
        &::before{
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            background-repeat: no-repeat;
            background-image: url('../images/liked.png');
            left: 15px;
            top: 7px;
        }
    }
}
.blog-main_item-sub:first-child{
    padding-left: 45px;
}

.social{
    background-color: #fef7f0;
    position: absolute;
    width: 100%;
    top: 270px;
    z-index: -1;
    &-wrap{
    display: flex;
    justify-content: space-between;
    height: 435px;
    align-items: center;
    padding-top: 200px;
    }
    &-logo{
        
    }
}

.social--position{
    position: relative;
}
.social-wrap--height{
    height: 235px;
    padding-top: 0;
}




